.allOffers {
    margin: 1rem;
    margin-bottom: 12vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    line-height: 0;

    &__offer {
        display: flex;
        justify-content: center;
        height: 100%;
        margin-bottom: .5em;
        border-radius: 15px;
        box-shadow: $boxShadow;

        &__detail {
            display: flex;
            flex-direction: column;
            text-align: center;

            &__mainPicture {
                margin-top: 1rem;
                margin-bottom: 1rem;
                
                        @media screen and (orientation:portrait) {
                            img {
                            width: 150px;
                            height: 200px;
                            }
                        }

                        @media screen and (orientation:landscape) {
                            img {
                            width: 200px;
                            height: 150px;
                            }
                        }
                    
            }

            &__price {
                display: flex;
                justify-content: flex-start;
                margin-top: 1rem;
            }

            &__brand {
                display: flex;
                justify-content: flex-start;
                margin-top: 1rem;
                width: 50%;
            }

            &__size {
                display: flex;
                justify-content: flex-start;
                margin-top: 1.5rem;
                margin-bottom: .5rem;
            }

            &__fav {
                display: flex;
                justify-content: flex-end;
            }
        }

    }
}