.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100vw;
  height: 93vh;
  background-image: url('../../../resources/homeBck.jpg');
  background-size: 110vw 95vh;
  background-position: 50% 30%;

  &__Container {
    & h1 {
      font-family: 'Outfit', sans-serif;
      font-style: italic;
      font-weight: lighter;
      font-size: 20vw;
    }

    & p {
      margin-bottom: 20px;
      font-weight: bolder;
    }

    & span {
      color: green;
      font-weight: lighter;
      font-style: italic;
    }
    & form {
      position: relative;
      text-align: center;
      & img {
        position: absolute;
        top: 22%;
        left: 12%;
        width: 5vw;
      }
      & input {
        text-align: center;
        width: 60vw;
        padding: 1.5vh;
      }
    }
  }
}
