.modificationProfil {
  text-align: center;
  height: 230vh;
  &__container {
    width: 90vw;
    margin-bottom: 20vh;
    margin: 2vh 5vw;
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    box-shadow: $boxShadow;

    & p {
      text-align: center;
      width: 100vw;
      height: 10vh;
      padding: 0 1vw;
    }

    &__content {
      position: relative;
      width: 100vw;
    
      flex-wrap: wrap;
      color: $colorText;
      display: flex;
      align-items: center;
      padding: 1vh 5vw;
      text-align: left;
      
      &__icons {
        margin-left: 5vw;
      }
      & label {
        flex: inline-block;
        width: 70vw;
        padding: 1vh 5vw;
      }
      & input {
        width: 60vw;
        margin-left: 2vw;
        height: 4vh;
        border: none;
      }
      & & input::placeholder {
        opacity: 0.6;
      }

      & select {
     
        width: 55vw;
        margin-left: 2vw;
        height: 4vh;
        border: none;
      }
      & hr {
        margin: 0 5vw;
        width: 70vw;
        margin-top: 7vh;
        opacity: 0.6;
        position: absolute;
      }
    }
    & button {
      font-size: 2.5vh;
      margin: 8vh auto 3vh auto;
      padding: 2vh;
      border-radius: 10px;
      box-shadow: $boxShadow;
    }
  }
}
