.profile {
  /* First part block button */
  position: absolute;

  &__content {
    width: 95vw;
    margin: 5vh 2.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    box-shadow: $boxShadow;

    &__icons {
      padding-right: 5vw;
    }

    &__link {
      position: relative;
      color: $colorText;
      border-radius: 10px;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 1vh 5vw;
      font-size: 2vh;
      text-align: left;
      width: 80vw;
      height: 5vh;
      border: transparent;
      cursor: pointer;
      flex-wrap: wrap;

      & hr {
        margin: 0 5vw;
        width: 70vw;
        margin-top: 7vh;
        opacity: 0.2;
        position: absolute;
      }
    }
  }
}
