.profile {
  /* Fisrt part of page with picture and name */
  &__intro {
    background-color: $colorDarkGrey;
    width: 100vw;
    height: 20vh;
    display: flex;
    align-items: center;
    &__logoRun {
      margin-top: -4vh;
      width: 15vw;
      height: 15vw;
    }
    &__photo {
      margin: 0 2vw 0 2vw;
      width: 25vw;
      height: 25vw;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
      overflow: hidden;
      & img {
        width: 25vw;
        height: 25vw;
      }
    }

    &__name {
      width: 55vw;
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      color: $colorWhite;
      font-size: 1.2em;
      & h3 {
        overflow: auto;
        word-wrap: break-word;
        text-align: center;
        width: 50vw;
      }
      &__link {
        padding: 0.6vh 3vw;
        border: solid white 2px;
        border-radius: 20px;
        margin-top: 1vh;
        text-decoration: none;
        color: $colorWhite;
      }
    }
  }
  /* First part block button */
  &__content1 {
    width: 95vw;
    margin: 8vh 2.5vw 5vh 2.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    box-shadow: $boxShadow;

    &__icons {
      padding-right: 5vw;
    }

    &__link {
      color: $colorText;
      border-radius: 10px;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 1vh 5vw;
      font-size: 2vh;
      text-align: left;
      width: 80vw;
      height: 5vh;
      border: transparent;
      font-size: 1.1em;
      cursor: pointer;
      flex-wrap: wrap;

      & hr {
        margin: 0 5vw;
        width: 70vw;
        opacity: 0.2;
        margin-top: 7vh;
        position: fixed;
      }
    }
  }
  &__content2 {
    width: 95vw;
    margin: 5vh 2.5vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    box-shadow: $boxShadow;

    &__icons {
      padding-right: 5vw;
    }

    &__link {
      color: $colorText;
      border-radius: 10px;
      display: flex;
      align-items: center;
      text-decoration: none;
      padding: 1vh 5vw;
      font-size: 2vh;
      text-align: left;
      width: 80vw;
      height: 5vh;
      border: transparent;
      font-size: 1.1em;
      cursor: pointer;
      flex-wrap: wrap;

      & hr {
        margin: 0 5vw;
        width: 70vw;
        opacity: 0.2;
        margin-top: 7vh;
        position: fixed;
      }
    }

    &__deconexion p {
      background-color: $colorWhite;
      margin: 5vh 15vw 0 45vw;
      width: 40vw;
      text-align: right;
      cursor: pointer;
    }
  }
}
