.product-description {
    margin-top: 10vh;
    text-align: center;
    // height: 150vh;
    margin-bottom: 10vh;
    // ligne indispensable pour scroller mon annonce 
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        margin-bottom: 10vh;
        // padding: 30px 0;
        // background-color: yellow;
      


    &__container-picture {
        // background-color: blue; 
        max-width: 600px;
    }

        &__container-picture__big-picture {
                margin: 1rem;
                width: 80%;
            }

        &__container-picture__all-picture {
            width: 30vw;
        }   
        
    &__container-text {
        // background-color: pink;
        width: 100%;
        // max-width: 500px;
        // min-width: 290px;
        margin: 25px;
    }  
    
        &__container-text__container1 {
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;  
            // background-color: greenyellow;
        }

        &__container-text__container1__title {
            font-size: 2rem;
        }  

            &__container-text__container1__price {
                background-color: aquamarine;
            }  
            
            

        &__container-text__container2__brand{
            text-align: left;
            // background-color: burlywood;
        }

        &__container-text__container3 {
            // background-color: coral;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;  
            margin-top: 15px;
        }

        &__container-text__container4 {
            flex-direction: column;
            display: flex;
            justify-content: space-between;
            margin-bottom: 15px;  
            margin-top: 15px;
        }

        &__container-text__container4 {
            text-align: center;
        }

        &__container-text__container4__btn-guide-size{
            display: flex;
            margin: 1rem;
        }

       
&__container-text__container3__color__pastille-color {
              position: absolute;
              top: 5vh;
              right: 0;
              width: 100%;
              display: flex;
              flex-direction: column;
              align-items: center;
            //   background-color: rgb(233, 10, 48);
            
        }

&__container-text__container3__sport-icon__img {
        height: 2rem;
        width: 2rem;
} 

&__container-text__container4__delivery__btn {
    padding: 2rem;
}
&__container-text__container4__delivery__btn .btn  {
    padding-left: 6vh;
    padding-right: 6vh;

};



       
};