.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 15vh 5vw 12vh 0;
  width: 90vw;


  .invisible {
    display: none;
  }

  &__bar {
    text-align: center;

    .btn {
      position: relative;
      width: 80vw;
      text-align: center;
    }

    .filterIcon {
      position: absolute;
      right: 10vw;
      margin-top: 1.5vh;
    }
  }

  &__menu {
    margin: 1vh 0vw;

    &__item {
      width: 70vw;
      display: flex;
      flex-direction: column;
      margin: 1vh 0vw;
      text-align: left;

      & label {
        font-weight: bold;
      }
    }
    & button {
      margin: 2vh 20vw;
    }
  }
}
