.header {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 8vh;
  width: 100vw;
  background-color: $colorDarkGrey;
  &__container {
    display: flex;
    align-items: center;

    &__name{
      display: flex;
      justify-content: center;
      width: 70vw;
      color: $colorWhite;
      text-align: center;
      font-size: 2vh;
      font-weight: bold;
    }
    &__icon {
      padding-left: 7vw;
      width: 8vw;
      height: 8vh;
      color: $colorWhite;
    }
  }
}
