.header {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 8vh;
  width: 100vw;
  &__container {
    background-color: $colorDarkGrey;
    display: flex;
    align-items: center;

    &__logo {
      width: 30vw;
      height: 7vh;
      padding: 0 20vw;
    }

    & h3 {
      color: $colorWhite;
      text-align: center;
      width: 50vw;
    }
    &__icon {
      padding-left: 7vw;
      width: 8vw;
      height: 8vh;
      color: $colorWhite;
    }
  }
}
