.underConstruction{
  width: 100vw;
  height: 100vh;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
 align-content: center;
  & img{
    width:70vw;
  }
   & h1{
     font-size: 3vh;
   }
}