* {
  padding: 0;
  margin: 0;
}

.btn {
  background-color: #cff44d;
  border-radius: 30px;
  padding: 2vh;
  color: black;
  border: none;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #b4b4b4;
}

.header img {
  width: 15%;
}

.header ul {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.header a {
  text-decoration: none;
  color: black;
}

.header a:hover {
  color: chartreuse;
}

#searchHome {
  width: 30rem;
  padding: 0.8em;
  border-radius: 10px;
}

.homeContainer {
  margin-top: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: solid black 2px;
}

.footer {
  position: relative;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #b4b4b4;
}

.footer__footerContainer {
  width: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
}

.footer__footerContainer__footerIcons {
  width: 100%;
  font-size: 8vw;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer li {
  width: 20%;
}

.footer a {
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: black;
}

.footer a:hover {
  color: chartreuse;
}

.footer #vendre {
  padding-top: 30px;
}

.footer .btn {
  border-radius: 50%;
  position: absolute;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  top: -3.5vh;
}

.connectionPage {
  text-align: center;
}

.connectionPage h1 {
  color: black;
  font-family: 'Outfit', sans-serif;
  margin: 5vh;
  font-weight: bold;
  font-size: 10vw;
}

.connectionPage h2 {
  color: black;
  font-family: 'Outfit', sans-serif;
  margin: 3vh auto;
  font-weight: bold;
}

.connectionPage p {
  margin: 5vh;
}

.connectionPage__form {
  padding: 2vw;
}

.connectionPage__form__inputsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 10px rgba(161, 161, 161, 0.534);
          box-shadow: 2px 2px 10px rgba(161, 161, 161, 0.534);
}

.connectionPage__form__inputsContainer div {
  width: 100%;
  position: relative;
}

.connectionPage__form__inputsContainer .inputIcon {
  position: absolute;
  left: 2vw;
  top: 2vw;
}

.connectionPage__form__inputsContainer .inputIcon.right {
  left: auto;
  right: 2vw;
}

.connectionPage__form__inputsContainer input {
  width: 90%;
  border: none;
  height: 5vh;
  padding-left: 7vw;
  background-color: transparent;
}

.connectionPage__form .connectionPage__form__submit {
  margin: 3vh auto;
  height: 5vh;
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px rgba(161, 161, 161, 0.534);
          box-shadow: 2px 2px 10px rgba(161, 161, 161, 0.534);
}

.connectionPage__form .chevronRightIcon {
  background-color: white;
  border-radius: 50%;
  color: black;
  padding: 1vw;
  position: absolute;
  right: 2vw;
}

.connectionPage__span {
  margin-top: 20vh;
}

.connectionPage__span--bold {
  font-weight: bold;
}

.connectionPage__span--red {
  color: red;
  font-weight: bold;
}
/*# sourceMappingURL=styles.css.map */