* {
  padding: 0;
  margin: 0;
  font-family: 'Quicksand', sans-serif;
}

li {
  list-style: none;
}

a {
  outline: none;
  text-decoration: none;
  color: black;
}

h1,
h2,
h3,
h4 {
  font-family: 'Outfit', sans-serif;
}

@media screen and (max-width: 720px) {
  * {
    font-size: 4vw;
  }
}

.btn {
  background-color: #cff44d;
  border-radius: 30px;
  padding: 2vh;
  color: black;
  border: none;
}

.profile {
  /* First part block button */
  position: absolute;
}

.profile__content {
  width: 95vw;
  margin: 5vh 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.profile__content__icons {
  padding-right: 5vw;
}

.profile__content__link {
  position: relative;
  color: black;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  padding: 1vh 5vw;
  font-size: 2vh;
  text-align: left;
  width: 80vw;
  height: 5vh;
  border: transparent;
  cursor: pointer;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.profile__content__link hr {
  margin: 0 5vw;
  width: 70vw;
  margin-top: 7vh;
  opacity: 0.2;
  position: absolute;
}

.home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 100vw;
  height: 95vh;
  background-size: 110vw 95vh;
  background-position: 50% 30%;
}

.home__Container {
  text-align: center;
}

.home__Container img {
  width: 80vw;
}

.home__Container p {
  text-align: center;
  margin-bottom: 20px;
  font-weight: bolder;
  color: black;
}

.home__Container form {
  text-align: center;
}

.home__Container input {
  background-image: url('../../../resources/loupe.png');
  background-repeat: no-repeat;
  background-size: 2vh 2vh;
  background-position: 6%;
  background-color: #cff44d;
  text-align: center;
  width: 60vw;
  padding: 1.5vh;
}

.header {
  position: fixed;
  z-index: 1;
  top: 0;
  height: 8vh;
  width: 100vw;
  background-color: darkgrey;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__container__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 70vw;
  color: white;
  text-align: center;
  font-size: 2vh;
  font-weight: bold;
}

.header__container__icon {
  padding-left: 7vw;
  width: 8vw;
  height: 8vh;
  color: white;
}

.footer {
  position: fixed;
  bottom: 0;
  height: 8vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  background-color: darkgrey;
}

.footer__footerContainer {
  width: 100vw;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  list-style: none;
}

.footer__footerContainer__footerIcons {
  width: 100%;
  font-size: 4vh;
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.footer li {
  width: 20%;
  color: black;
}

.footer a {
  text-align: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-decoration: none;
  color: black;
}

.footer a:hover {
  color: lightgrey;
}

.footer #vendre {
  padding-top: 30px;
}

.footer__button {
  position: absolute;
  border: none;
  background-color: transparent;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  top: -3.5vh;
  left: 50%;
}

.footer__button .btn {
  padding: 2.6vh;
  border-radius: 50%;
}

.connectionPage {
  margin-top: 10vh;
  text-align: center;
  height: 90vh;
}

.connectionPage img {
  width: 60vw;
  margin: 2vh;
}

.connectionPage h2 {
  color: black;
  font-family: 'Outfit', sans-serif;
  margin: 3vh auto;
  font-weight: bold;
}

.connectionPage p {
  margin: 5vh;
}

.connectionPage__form {
  padding: 2vw;
}

.connectionPage__form__inputsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 10px rgba(161, 161, 161, 0.534);
  box-shadow: 2px 2px 10px rgba(161, 161, 161, 0.534);
}

.connectionPage__form__inputsContainer div {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.connectionPage__form__inputsContainer .inputIcon {
  left: 2vw;
}

.connectionPage__form__inputsContainer .inputIcon.right {
  left: auto;
  right: 2vw;
  top: 5vw;
}

.connectionPage__form__inputsContainer input {
  width: 90%;
  border: none;
  height: 5vh;
  padding-left: 7vw;
  background-color: transparent;
}

.connectionPage__form .connectionPage__form__submit {
  margin: 3vh auto;
  height: 5vh;
  width: 95vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  -webkit-box-shadow: 2px 2px 10px rgba(161, 161, 161, 0.534);
  box-shadow: 2px 2px 10px rgba(161, 161, 161, 0.534);
}

.connectionPage__form .chevronRightIcon {
  background-color: white;
  border-radius: 50%;
  color: black;
  padding: 1vw;
  position: absolute;
  right: 2vw;
}

.connectionPage__span {
  margin-top: 5vh;
}

.connectionPage__span--bold {
  font-weight: bold;
}

.connectionPage__span--red {
  color: red;
  font-weight: bold;
}

.create-account {
  margin: 12vh 10vw;
  min-height: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  border-radius: 19px;
  background-color: white;
  -webkit-box-shadow: 0 0 4px rgba(25, 25, 25, 0.35);
  box-shadow: 0 0 4px rgba(25, 25, 25, 0.35);
  overflow: hidden;
  margin-bottom: 8rem;
}

.create-account h2 {
  color: #0a0a0a;
  font-family: 'Outfit', sans-serif;
  margin: 1rem;
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
}

.create-account__form {
  text-align: center;
}

.create-account__form__inputsContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1rem;
  border-radius: 10px;
}

.create-account__form__inputsContainer__input {
  width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 0.8rem;
  margin-bottom: 0.8rem;
}

.create-account .inputIcon {
  left: 1vw;
  font-size: 1.2rem;
  margin-right: 0.2rem;
}

.create-account .inputIcon.right {
  left: auto;
  font-size: 1rem;
  right: 2vw;
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.create-account input {
  position: relative;
  height: 3vh;
  font-size: 0.8rem;
  padding-left: 1vw;
  border-radius: 0;
  padding: 8px 10px;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  width: 95%;
  border-radius: 9px;
}

.create-account select {
  position: relative;
  height: 3vh;
  padding-left: 1vw;
  font-size: 0.8rem;
  border-radius: 0;
  padding: 8px 10px;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  width: 95%;
  border-radius: 9px;
}

.create-account__form__inputsContainer__radio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 3.5rem;
  margin-bottom: 0.8rem;
  background-color: blue;
}

.create-account h3 {
  font-size: 22px;
}

.create-account .btn__container {
  margin-top: 0.8rem;
  text-align: left;
  margin-left: 2vw;
}

.create-account .btn__container__profil {
  padding: 1vh;
  display: inline-block;
  color: #111;
  background-color: transparent;
  border: 1px solid grey;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 2px;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.create-account .btn__container__genre {
  padding: 1vh;
  display: inline-block;
  color: #111;
  background-color: transparent;
  border: 1px solid grey;
  font-size: 1rem;
  line-height: 1.5rem;
  border-radius: 2px;
  margin-bottom: 4rem;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out,
    -webkit-box-shadow 0.15s ease-in-out;
}

.create-account .checkboxCgv__createAccount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-bottom: 2rem;
}

.create-account .checkboxCgv__createAccount__input {
  width: 20%;
  margin: 1rem;
}

.create-account .btn__createAccount {
  background-color: #cff44d;
  border-radius: 30px;
  padding: 2vh;
  color: black;
  border: none;
  margin: 1rem;
}

.create-account .containerSignin {
  margin-bottom: 2rem;
}

.offerForm {
  margin-top: 10vh;
  color: gray;
  margin-top: 10vh;
  margin-bottom: 10vh;
  position: relative;
}

.offerForm .bold {
  font-weight: bold;
}

.offerForm__form {
  padding: 20px;
}

.offerForm__items {
  position: relative;
  margin-top: 20px;
}

.offerForm__items__asterisk {
  position: absolute;
  left: 6px;
  top: 20%;
}

.offerForm__items.conditionnal {
  width: 80%;
  margin-left: 20%;
}

.offerForm .iconRequired {
  color: red;
  font-size: 10px;
}

.offerForm #addPhotoContainer {
  text-align: center;
  margin: 15px auto;
}

.offerForm #labelPhoto1 {
  margin: auto;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 10px lightgray;
  box-shadow: 2px 2px 10px lightgray;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offerForm #photo1 {
  visibility: hidden;
}

.offerForm .photosContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  overflow: hidden;
}

.offerForm .photoTips,
.offerForm .descriptionTips {
  margin-top: -2vh;
  text-align: end;
}

.offerForm .invisible {
  display: none;
}

.offerForm .image {
  width: 20vw;
  height: auto;
  margin: 3vw;
}

.offerForm__input {
  width: 100%;
  margin-bottom: 30px;
  display: block;
  border: none;
  border-bottom: 2px solid lightgray;
}

.offerForm__select {
  border: none;
  -webkit-box-shadow: 2px 2px 10px lightgray;
  box-shadow: 2px 2px 10px lightgray;
  padding: 8px 8px 8px 16px;
  margin-top: 5px;
  width: 100%;
}

.offerForm__price,
.offerForm__weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px auto;
}

.offerForm__price label,
.offerForm__weight label {
  min-width: 74%;
}

.offerForm__price input,
.offerForm__weight input {
  max-width: 22%;
  margin-bottom: 0;
}

.offerForm__price .questionIcon,
.offerForm__weight .questionIcon {
  font-size: larger;
  margin-bottom: -0.5vh;
}

.offerForm__price__table,
.offerForm__weight__table {
  margin: 10px auto;
  text-align: left;
  border-collapse: collapse;
}

.offerForm__price__table tr,
.offerForm__weight__table tr {
  border-bottom: 1px solid lightgray;
  background-color: rgba(211, 211, 211, 0.342);
}

.offerForm__price__table th,
.offerForm__price__table td,
.offerForm__weight__table th,
.offerForm__weight__table td {
  padding: 10px 5px;
}

.offerForm #weightTipsContent {
  background-color: white;
  padding: 1vh 0.5vw 2vh 2vw;
  z-index: 2;
}

.offerForm__deliveries {
  -webkit-box-shadow: 2px 2px 10px lightgray;
  box-shadow: 2px 2px 10px lightgray;
  padding: 5px;
}

.offerForm .delivererList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.offerForm__switchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
}

.offerForm__switchContainer__span {
  max-width: 70%;
}

.offerForm__switchContainer .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.offerForm__switchContainer .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.offerForm__switchContainer .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.offerForm__switchContainer .slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.offerForm__switchContainer .slider.round {
  border-radius: 34px;
}

.offerForm__switchContainer .slider.round:before {
  border-radius: 50%;
}

.offerForm__switchContainer input:checked + .slider {
  background-color: #cff44d;
}

.offerForm__switchContainer input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #cff44d;
  box-shadow: 0 0 1px #cff44d;
}

.offerForm__switchContainer input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
}

.offerForm #errorsDescription {
  color: red;
}

.offerForm__submitContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 10px;
}

.offerForm__submitContainer .btn {
  width: 40%;
  font-size: larger;
  padding: 1.5vh;
}

.settings {
  /* First part block button */
  position: absolute;
}

.settings__content {
  width: 95vw;
  margin: 8vh 2.5vw 5vh 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.settings__content__icons {
  padding-right: 5vw;
}

.settings__content__link {
  position: relative;
  color: black;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  text-decoration: none;
  padding: 1vh 5vw;
  font-size: 2vh;
  text-align: left;
  width: 80vw;
  height: 5vh;
  border: transparent;
  cursor: pointer;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.settings__content__link hr {
  margin: 0 5vw;
  width: 70vw;
  opacity: 0.2;
  margin-top: 7vh;
  position: absolute;
}

.product-description {
  margin-top: 10vh;
  text-align: center;
  margin-bottom: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-bottom: 10vh;
}

.product-description__container-picture {
  max-width: 600px;
}

.product-description__container-picture__big-picture {
  margin: 1rem;
  width: 80%;
}

.product-description__container-picture__all-picture {
  width: 30vw;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.5rem;
  overflow: hidden;
}

.product-description__container-picture__all-picture__invisible {
  display: none;
}

.product-description__container-text {
  width: 100%;
  margin: 15px;
}

.product-description__container-text__container1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 1.5rem;
  position: relative;
}

.product-description__container-text__container1__title {
  margin: auto;
}

.product-description__container-text__container1__title h2 {
  font-size: 5vw;
  text-align: start;
  margin-left: 1rem;
}

.product-description__container-text__container1__price {
  margin: auto;
  width: 18%;
  text-align: end;
}

.product-description .style-hr {
  border-left: 4px solid #cff44d;
  height: 5vh;
  position: absolute;
}

.product-description__container-text__container2__brand {
  text-align: left;
}

.product-description__container-text__container3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.product-description__container-text__container4 {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-left: 1rem;
  margin-right: 1rem;
  margin-bottom: 2rem;
}

.product-description__container-text__container4 {
  text-align: center;
}

.product-description__container-text__container4__btn-guide-size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem;
}

.product-description__container-text__container3__color__pastille-color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}

.product-description .colorPastille {
  margin: 5px 5px 5px 5px;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  border: 1px solid black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-description__container-text__container3__sport-icon__img {
  height: 2rem;
  width: 2rem;
}

.product-description__container-text__container4__delivery {
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  border-color: gray;
  padding: 2vh 0vw;
}

.product-description__container-text__container4__delivery__btn {
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.product-description__container-text__container4__delivery__btn .btn {
  padding-left: 6vh;
  padding-right: 6vh;
}

.filterMenu {
  width: 70%;
  margin-left: 26%;
  padding: 2%;
  padding-top: 0;
  color: black;
  font-weight: bold;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  background-color: white;
}

.filterMenu h2 {
  font-size: 12px;
  color: darkgrey;
}

.filterMenu #resetBtn {
  border: none;
  background-color: transparent;
  color: rgba(255, 0, 0, 0.7);
  font-size: 10px;
}

.filterMenu #items {
  width: 20vw;
}

.filterMenu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 10px;
}

.filterMenu__item--right {
  padding: 10px;
  padding-top: 0;
  text-align: end;
}

.filterMenu__item.price {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.filterMenu__item.price__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0;
  padding-right: 5px;
  margin-bottom: 10px;
}

.filterMenu__item.price__label .priceText {
  color: darkgrey;
  font-weight: normal;
}

.filterMenu select {
  border: none;
  background-color: transparent;
  text-align: end;
  color: darkgrey;
}

.filterMenu .iconChevronDownContainer {
  color: darkgrey;
  font-weight: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filterMenu .iconChevronDownContainer__icon {
  font-size: larger;
}

.filterMenu #colors {
  position: relative;
}

.filterMenu #colors .colorList {
  position: absolute;
  top: 5vh;
  right: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filterMenu #colors .colorList__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  background-color: white;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.filterMenu #colors .colorList__item__colorShip {
  margin: 5px 10px 5px 20px;
  width: 5vw;
  height: 5vw;
  border-radius: 50%;
  border: 1px solid black;
}

.filterMenu__submitContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-top: 10px;
  margin-right: 10px;
}

.filterMenu__submitContainer .btn {
  padding: 8px 15px;
}

.logOut {
  /* LogOut style component */
}

.logOut__button p {
  background-color: white;
  margin: 5vh 15vw 0 45vw;
  width: 40vw;
  text-align: right;
  cursor: pointer;
}

.headerProfil {
  /* Fisrt part of page with picture and name */
}

.headerProfil__intro {
  margin-top: 8.5vh;
  margin-bottom: 4vh;
  width: 100vw;
  height: 20vh;
  padding: 0 4vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.headerProfil__intro__photo {
  margin: 0 2vw 0 2vw;
  width: 12vh;
  height: 12vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.headerProfil__intro__photo img {
  width: 100%;
  height: 100%;
}

.headerProfil__intro__name {
  width: 55vw;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  font-size: 1.2em;
}

.headerProfil__intro__name h3 {
  overflow: auto;
  word-wrap: break-word;
  text-align: center;
  width: 35vw;
}

.updateProfile {
  text-align: center;
  height: 230vh;
}

.updateProfile__container {
  width: 90vw;
  margin-bottom: 20vh;
  margin: 2vh 5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.updateProfile__container p {
  text-align: center;
  width: 100vw;
  height: 10vh;
  padding: 0 1vw;
}

.updateProfile__container__content {
  position: relative;
  width: 100vw;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 1vh 5vw;
  text-align: left;
}

.updateProfile__container__content__icons {
  margin-left: 5vw;
}

.updateProfile__container__content label {
  -webkit-box-flex: inline-block;
  -ms-flex: inline-block;
  flex: inline-block;
  width: 70vw;
  padding: 1vh 5vw;
}

.updateProfile__container__content input {
  width: 60vw;
  margin-left: 2vw;
  height: 4vh;
  border: none;
}

.updateProfile__container__content
  .updateProfile__container__content
  input::-webkit-input-placeholder {
  opacity: 0.6;
}

.updateProfile__container__content
  .updateProfile__container__content
  input:-ms-input-placeholder {
  opacity: 0.6;
}

.updateProfile__container__content
  .updateProfile__container__content
  input::-ms-input-placeholder {
  opacity: 0.6;
}

.updateProfile__container__content .updateProfile__container__content input::placeholder {
  opacity: 0.6;
}

.updateProfile__container__content select {
  width: 55vw;
  margin-left: 2vw;
  height: 4vh;
  border: none;
}

.updateProfile__container__content hr {
  margin: 0 5vw;
  width: 70vw;
  margin-top: 7vh;
  opacity: 0.6;
  position: absolute;
}

.updateProfile__container button {
  font-size: 2.5vh;
  margin: 4vh auto 3vh auto;
  padding: 2vh;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.allOffers {
  margin-top: 12vh;
}

.allOffers__container {
  margin: 1rem;
  margin-bottom: 12vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.allOffers__container__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  margin-bottom: 1em;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.allOffers__container__offer__mainPicture {
  margin-top: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

@media screen and (orientation: portrait) {
  .allOffers__container__offer__mainPicture img {
    -o-object-fit: contain;
    object-fit: contain;
    width: 40vw;
    height: 20vh;
  }
}

@media screen and (orientation: landscape) {
  .allOffers__container__offer__mainPicture img {
    width: 200px;
    height: 150px;
  }
}

.allOffers__container__offer__detail {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr) [2];
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: (1fr) [3];
  grid-template-rows: repeat(3, 1fr);
  margin-left: 0.5em;
}

.allOffers__container__offer__detail__price {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 1;
  grid-row: 1 / 1;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.allOffers__container__offer__detail__brand {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 2;
  grid-row: 2 / 2;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 7rem;
}

.allOffers__container__offer__detail__size {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 1;
  grid-column: 1 / 1;
  -ms-grid-row: 3;
  grid-row: 3 / 3;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0.5rem;
}

.allOffers__container__offer__detail__fav {
  display: -ms-grid;
  display: grid;
  -ms-grid-column: 2;
  grid-column: 2 / 2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2 / 3;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 0.8em;
}

.offers {
  width: 100vw;
  margin: 12vh 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.offers p {
  text-align: center;
  margin-bottom: 10px;
}

.offers h2 {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 5vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offers__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 10vw;
  height: 10vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
}

.offers__offer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers__offer img {
  height: 8vh;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
}

.offers__offer__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.offers__offer__detail li {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.offers__isArchived {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 10vw;
  height: 10vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
}

.offers__isArchived .offerSell {
  width: 80vw;
  background-color: white;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.offers__isArchived .offerSellModification {
  width: 80vw;
  height: 3vh;
  background-color: #cff44d;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-top: 1px black solid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.offers__isArchived a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers__isArchived img {
  height: 10vh;
  border-radius: 5px 0 0 0;
  overflow: hidden;
}

.offers__isArchived__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.offers__isArchived__detail li {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.favorites {
  margin-top: 12vh;
  margin-bottom: 10vh;
}

.favorites__title {
  text-align: center;
}

.favorites__offers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
  margin: 2rem;
  margin-bottom: 0.5em;
  border-radius: 15px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
}

.favorites__offers__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  margin-left: 0.5em;
  width: 90%;
}

.favorites__offers__detail__mainPicture {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: -0.5em;
}

.favorites__offers__detail__mainPicture img {
  -o-object-fit: contain;
  object-fit: contain;
  width: 60vw;
  height: 20vh;
}

.favorites__offers__detail__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-left: 4vw;
}

.favorites__offers__detail__brand {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 50%;
  margin-left: 4vw;
}

.favorites__offers__detail__size {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
  margin-left: 4vw;
}

.favorites__offers__detail__fav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  margin-right: 0.8em;
}

.favorites__empty {
  text-align: center;
  margin-top: 15vh;
}

.favorites__empty .btn {
  background-color: #cff44d;
  border-radius: 30px;
  margin-top: 20vh;
  padding: 2vh;
  color: black;
  border: none;
}

.confirmedOrder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 12vh 5vw 15vh 5vw;
  width: 90vw;
  margin-top: 10vh;
}

.confirmedOrder__confirmedOrderContainer {
  text-align: center;
}

.confirmedOrder__confirmedOrderContainer img {
  width: 70vw;
}

.confirmedOrder__confirmedOrderContainer h3 {
  font-size: 2.5vh;
  margin-bottom: 1.5vh;
}

.confirmedOrder__confirmedOrderContainer h4 {
  font-size: 2vh;
}

.confirmedOrder__confirmedOrderContainer p {
  padding: 1vw;
  font-weight: bolder;
  color: black;
}

.confirmedOrder__confirmedOrderContainer__box {
  border-style: solid;
  border-radius: 20px;
  border-width: 1px;
  border-color: gray;
  margin: 2vh 0vw;
}

.confirmedOrder__confirmedOrderContainer__box__orderDetails {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.confirmedOrder__confirmedOrderContainer .delivererList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
}

.confirmedOrder__confirmedOrderContainer .delivererList__span {
  max-width: 70%;
}

.confirmedOrder__confirmedOrderContainer .delivererList .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.confirmedOrder__confirmedOrderContainer .delivererList .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.confirmedOrder__confirmedOrderContainer .delivererList .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.confirmedOrder__confirmedOrderContainer .delivererList .slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.confirmedOrder__confirmedOrderContainer .delivererList .slider.round {
  border-radius: 34px;
}

.confirmedOrder__confirmedOrderContainer .delivererList .slider.round:before {
  border-radius: 50%;
}

.confirmedOrder__confirmedOrderContainer .delivererList input:checked + .slider {
  background-color: #cff44d;
}

.confirmedOrder__confirmedOrderContainer .delivererList input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #cff44d;
  box-shadow: 0 0 1px #cff44d;
}

.confirmedOrder__confirmedOrderContainer .delivererList input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
}

.confirmedOrder__confirmedOrderContainer .instructions {
  color: gray;
  padding: 3vw;
  text-align: justify;
  background-color: ghostwhite;
  border-radius: 20px;
}

.confirmedOrder__confirmedOrderContainer .cards {
  width: 20vw;
  height: 2vh;
}

.confirmedOrder__confirmedOrderContainer .btn {
  width: 80vw;
}

.search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 3vh 0 5vh;
  width: 100vw;
}

.search__bar {
  text-align: center;
}

.search__bar .btn {
  position: relative;
  width: 80vw;
  text-align: center;
}

.search__bar .filterIcon {
  position: absolute;
  right: 10vw;
  margin-top: 1.5vh;
}

.search__menu {
  margin: 1vh 0vw;
}

.search__menu__item {
  width: 70vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin: 1vh 0;
  text-align: left;
}

.search__menu__item label {
  font-weight: bold;
}

.offers {
  width: 100vw;
  margin: 12vh 0;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.offers p {
  text-align: center;
  margin-bottom: 10px;
}

.offers h2 {
  margin-bottom: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 5vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.offers__offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 10vw;
  height: 10vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 5px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
}

.offers__offer a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers__offer img {
  height: 8vh;
  overflow: hidden;
  border-radius: 5px 0 0 5px;
}

.offers__offer__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.offers__offer__detail li {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.offers__isArchived {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 80vw;
  margin: 0 10vw;
  height: 10vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  margin-bottom: 50px;
}

.offers__isArchived .offerSell {
  width: 80vw;
  background-color: white;
  border-radius: 5px 5px 0 0;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.offers__isArchived .offerSellModification {
  width: 80vw;
  height: 3vh;
  background-color: #cff44d;
  border-radius: 0 0 5px 5px;
  -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  border-top: 1px black solid;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.offers__isArchived a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.offers__isArchived img {
  height: 10vh;
  border-radius: 5px 0 0 0;
  overflow: hidden;
}

.offers__isArchived__detail {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
}

.offers__isArchived__detail li {
  width: 20vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.updateOfferForm {
  margin-top: 10vh;
  color: gray;
  margin-top: 10vh;
  margin-bottom: 10vh;
  position: relative;
}

.updateOfferForm .bold {
  font-weight: bold;
}

.updateOfferForm__form {
  padding: 20px;
}

.updateOfferForm__items {
  position: relative;
  margin-top: 20px;
}

.updateOfferForm__items__asterisk {
  position: absolute;
  left: 6px;
  top: 20%;
}

.updateOfferForm__items.conditionnal {
  width: 80%;
  margin-left: 20%;
}

.updateOfferForm .iconRequired {
  color: red;
  font-size: 10px;
}

.updateOfferForm #addPhotoContainer {
  text-align: center;
  margin: 15px auto;
}

.updateOfferForm #labelPhoto1 {
  margin: auto;
  padding: 15px 20px;
  font-weight: bold;
  border-radius: 30px;
  -webkit-box-shadow: 2px 2px 10px lightgray;
  box-shadow: 2px 2px 10px lightgray;
  width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.updateOfferForm #photo1 {
  visibility: hidden;
}

.updateOfferForm .photosContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  width: 90vw;
}

.updateOfferForm .photoTips,
.updateOfferForm .descriptionTips {
  margin-top: -2vh;
  text-align: end;
}

.updateOfferForm .invisible {
  display: none;
}

.updateOfferForm .image {
  width: 20vw;
  height: auto;
  margin: 3vw;
}

.updateOfferForm__input {
  width: 100%;
  margin-bottom: 30px;
  display: block;
  border: none;
  border-bottom: 2px solid lightgray;
}

.updateOfferForm__select {
  border: none;
  -webkit-box-shadow: 2px 2px 10px lightgray;
  box-shadow: 2px 2px 10px lightgray;
  padding: 8px 8px 8px 16px;
  margin-top: 5px;
  width: 100%;
}

.updateOfferForm__price,
.updateOfferForm__weight {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 10px auto;
}

.updateOfferForm__price label,
.updateOfferForm__weight label {
  min-width: 74%;
}

.updateOfferForm__price input,
.updateOfferForm__weight input {
  max-width: 22%;
  margin-bottom: 0;
}

.updateOfferForm__price .questionIcon,
.updateOfferForm__weight .questionIcon {
  font-size: larger;
  margin-bottom: -0.5vh;
}

.updateOfferForm__price__table,
.updateOfferForm__weight__table {
  margin: 10px auto;
  text-align: left;
  border-collapse: collapse;
}

.updateOfferForm__price__table tr,
.updateOfferForm__weight__table tr {
  border-bottom: 1px solid lightgray;
  background-color: rgba(211, 211, 211, 0.342);
}

.updateOfferForm__price__table th,
.updateOfferForm__price__table td,
.updateOfferForm__weight__table th,
.updateOfferForm__weight__table td {
  padding: 10px 5px;
}

.updateOfferForm #weightTipsContent {
  background-color: white;
  padding: 1vh 0.5vw 2vh 2vw;
  z-index: 2;
}

.updateOfferForm__deliveries {
  -webkit-box-shadow: 2px 2px 10px lightgray;
  box-shadow: 2px 2px 10px lightgray;
  padding: 5px;
}

.updateOfferForm .delivererList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.updateOfferForm__switchContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 5px;
}

.updateOfferForm__switchContainer__span {
  max-width: 70%;
}

.updateOfferForm__switchContainer .switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 25px;
}

.updateOfferForm__switchContainer .switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.updateOfferForm__switchContainer .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.updateOfferForm__switchContainer .slider:before {
  position: absolute;
  content: '';
  height: 18px;
  width: 18px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.updateOfferForm__switchContainer .slider.round {
  border-radius: 34px;
}

.updateOfferForm__switchContainer .slider.round:before {
  border-radius: 50%;
}

.updateOfferForm__switchContainer input:checked + .slider {
  background-color: #cff44d;
}

.updateOfferForm__switchContainer input:focus + .slider {
  -webkit-box-shadow: 0 0 1px #cff44d;
  box-shadow: 0 0 1px #cff44d;
}

.updateOfferForm__switchContainer input:checked + .slider:before {
  -webkit-transform: translateX(24px);
  transform: translateX(24px);
}

.updateOfferForm #errorsDescription {
  color: red;
}

.updateOfferForm__submitContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 10px;
  padding-top: 10px;
}

.updateOfferForm__submitContainer .btn {
  width: 40%;
  font-size: larger;
  padding: 1.5vh;
}

.underConstruction {
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -ms-flex-line-pack: center;
  align-content: center;
}

.underConstruction img {
  width: 70vw;
}

.underConstruction h1 {
  font-size: 3vh;
}
/*# sourceMappingURL=styles.css.map */
